<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <link rel="stylesheet" type="text/css" href="http://image.ec21.com/css/import.css?v=20130411"/>
    <!--[if IE]>
    <style type="text/css">.cast_list li {
        white-space: normal;
    }</style><![endif]-->
</head>
<body>
<div id="warp" class="w_auto">
    <div class="top_ar">
        <div class="logo_box"><a title="Manufacturer Directory" href="http://www.ec21.com"><span class="t1">EC21, Global B2B Marketplace</span></a>
        </div>
        <div class="top_ar_t2">
            <script type="text/javascript"> if (null != getCookie("user") && "" != getCookie("user")) document.write('<div class="top_ar_cc"><a href="http://www.ec21.com/global/login/Logout.jsp">Sign Out</a></div>'); else {
                document.write('<div class="top_ar_cc"><a href="https://login.ec21.com/global/login/Login.jsp">Sign in</a></div>');
                document.write('<div class="top_ar_cc"><a href="http://www.ec21.com/global/member/MyRegist.jsp">Join Free</a></div>');
            } </script>
            <div class="activity_dv">
                <div class="act_tool"><a href="http://manufacturer.ec21.com/" title="Manufacturers Products Directory">Buy
                    Now</a> <span class="header_arrow header_arrow_down"></span>
                    <ul>
                        <li value="1"><a href="http://manufacturer.ec21.com/" class="act_tl" rel="nofollow">View
                            Products</a></li>
                        <li value="2"><a href="http://www.ec21.com/offers/" class="act_tl" rel="nofollow">View Selling
                            Leads</a></li>
                        <li value="3"><a href="http://supplier.ec21.com/" class="act_tl" rel="nofollow">View
                            Companies</a></li>
                    </ul>
                </div>
                <div class="act_tool"><a href="http://importer.ec21.com/buy_leads/"
                                         title="Importers & Buyers Directory">Sell Now</a> <span
                        class="header_arrow header_arrow_down"></span>
                    <ul>
                        <li value="1"><a href="http://importer.ec21.com/buy_leads/" class="act_tl" rel="nofollow">View
                            Buying Leads</a></li>
                        <li value="2"><a href="http://www.ec21.com/global/common/SearchBuyer.jsp" class="act_tl">Search
                            Global Buyers</a></li>
                        <li class="b_lin"></li>
                        <li value="3"><a href="http://www.ec21.com/html/ec/AW/PS_Overview.html" class="act_tl"
                                         rel="nofollow">Premium Services</a></li>
                        <li value="4"><a href="http://www.ec21.com/html/services/basic/freeMembership.html"
                                         class="act_tl" rel="nofollow">Basic Services</a></li>
                        <li value="5"><a href="http://www.ec21.com/html/ec/AW/ad_overview.html" class="act_tl"
                                         rel="nofollow">Advertise with EC21</a></li>
                    </ul>
                </div>
                <div class="act_tool"><a href="http://www.ec21.com/global/basic/MyEC21.jsp">My EC21</a> <span
                        class="header_arrow header_arrow_down"></span>
                    <ul>
                        <li value="1"><a href="http://www.ec21.com/global/basic/MyInquiryList.jsp?dirS=I" class="act_tl"
                                         rel="nofollow">New Inquiries</a></li>
                        <li value="2"><a
                                href="http://www.ec21.com/global/basic/MyCompanyProfile.jsp?actionName=update&flag=5"
                                class="act_tl" rel="nofollow">Company Profile</a></li>
                        <script type="text/javascript"> if (null != getCookie("user") && "" != getCookie("user")) document.write('<li value="3"><a href="http://' + getCookie("user_url") + '.en.ec21.com/" class="act_tl" rel="nofollow">My Homepage</a></li>'); </script>
                        <li value="4"><a href="http://www.ec21.com/global/basic/MyProductList.jsp" class="act_tl"
                                         rel="nofollow">Manage Products</a></li>
                        <li value="5"><a href="http://www.ec21.com/global/basic/MyOfferSellerList.jsp" class="act_tl"
                                         rel="nofollow">Manage Selling Leads</a></li>
                        <li value="6"><a href="http://www.ec21.com/global/basic/MyOfferBuyEdit.jsp?actionName=insert"
                                         class="act_tl" rel="nofollow">Post Buying Leads</a></li>
                    </ul>
                </div>
            </div>
            <div class="top_ar_cd"><a href="http://community.ec21.com/"
                                      title="Sharing and Discussing business issues and ideas">Community</a></div>
            <div class="top_ar_lt"><a href="http://www.ec21.com/html/ec/help/help_01.html">Help</a></div>
        </div>
    </div>
    <div class="top_sch_menu">
        <ul class="tab">
            <li class="tab_off"><a href="javascript:searchMove('0')" rel="nofollow">Products</a></li>
            <li class="tab_off"><a href="javascript:searchMove('1')" rel="nofollow">Selling Leads</a></li>
            <li class="tab_off"><a href="javascript:searchMove('2')" rel="nofollow">Buying Leads</a></li>
            <li class="tab_off"><a href="javascript:searchMove('3')" rel="nofollow">Companies</a></li>
        </ul>
        <ul class="tab_rt">
            <li class="rt_01"><a href="http://www.ec21.com/global/common/SearchBuyer.jsp" rel="nofollow">Global Buyer
                DB</a></li>
            <li class="rt_02"><a
                    href="http://www.ec21.com/global/basic/MyProductEdit.jsp?actionName=insert&noGroupFlag=1"
                    rel="nofollow">Post Your Products</a></li>
        </ul>
    </div>
    <div class="contents_sch">
        <form name="GNBsearchForm" id="AKCFrm" method="post" onsubmit="return SearchGNB()">
            <fieldset>
                <legend>Search</legend>
                <input class="input_ms_sch" name="keyword" id="AKCKwd" type="text"
                       style="width: 444px; height: 24px; padding-left: 5px;" autocomplete="off" value=""/> <input
                    type="hidden" name="st" value="0"/> <select name="category" id="category" tabindex="1">
                <option value="">In All Categories</option>
                <option>-------------------------------</option>
                <option value="01">Agriculture</option>
                <option value="02">Apparel</option>
                <option value="03">Automobiles &amp; Motorcycles</option>
                <option value="04">Business Services</option>
                <option value="05">Chemicals</option>
                <option value="06">Computer Hardware &amp; Software</option>
                <option value="07">Construction &amp; Real Estate</option>
                <option value="08">Consumer Electronics</option>
                <option value="09">Electrical Equipment &amp; Supplies</option>
                <option value="10">Electronic Components &amp; Supplies</option>
                <option value="11">Energy</option>
                <option value="12">Environment</option>
                <option value="13">Excess Inventory</option>
                <option value="14">Fashion Accessories</option>
                <option value="15">Food &amp; Beverage</option>
                <option value="16">Furniture &amp; Furnishings</option>
                <option value="17">General Industrial Equipment</option>
                <option value="18">General Mechanical Components</option>
                <option value="19">Gifts &amp; Crafts</option>
                <option value="20">Hardware</option>
                <option value="21">Health &amp; Medical</option>
                <option value="22">Home &amp; Garden</option>
                <option value="23">Home Appliances</option>
                <option value="24">Lights &amp; Lighting</option>
                <option value="25">Luggage, Bags &amp; Cases</option>
                <option value="26">Manufacturing &amp; Processing Machinery</option>
                <option value="27">Measurement &amp; Analysis Instruments</option>
                <option value="28">Minerals &amp; Metallurgy</option>
                <option value="29">Office &amp; School Supplies</option>
                <option value="30">Packaging &amp; Paper</option>
                <option value="31">Personal Care</option>
                <option value="32">Printing &amp; Publishing</option>
                <option value="33">Rubber &amp; Plastics</option>
                <option value="34">Security &amp; Protection</option>
                <option value="35">Service Equipment</option>
                <option value="36">Shoes &amp; Accessories</option>
                <option value="37">Sports &amp; Entertainment</option>
                <option value="38">Telecommunications</option>
                <option value="39">Textiles &amp; Leather Products</option>
                <option value="40">Timepieces, Jewelry, Eyewear</option>
                <option value="41">Tools</option>
                <option value="42">Toys</option>
                <option value="43">Transportation</option>
            </select>
                <script type="text/javascript"> $("#category").selectbox();
                $("#category").next().css("width", "240px").css("border", "1px solid #0155b7");
                $("#category").next().find("> .sbSelector").css("width", "240px");
                $("#category").next().find("> .sbOptions").css("width", "240px").css("border", "1px solid #0155b7");
                $("#category").next().find("> .sbOptions li a").hover(function () {
                    $(this).css('background-color', '#357ddc')
                }, function () {
                    $(this).css('background-color', '#FFFFFF')
                }); </script>
                <input name="Search" type="submit" value="Search" class="submit_sch ml2"/> <a class="ad_sch"
                                                                                              href="http://www.ec21.com/html/ec/advancedsearch.html"
                                                                                              rel="nofollow">Advanced
                Search</a></fieldset>
        </form>
    </div>
    <div class="auto_contents_con">
        <div class="contents_con">
            <div class="view_contents">
                <div class="error_all_msg">
                    <div class="right540">
                        <p class="big_msg2">Sorry,
                            <script type="text/javascript">document.write(ErrorMessage[i]);</script>
                        </p>
                        <dl class="c_list">
                            <dd>
                                <script type="text/javascript">document.write(ErrorDescription[i]);</script>
                            </dd>
                            <dd>Please check if you entered the web address correctly.</dd>
                            <dd>If the same problem continues, please <a
                                    href="http://www.ec21.com/html/ec/AU/AU_Contactus.html">Contact Us</a>.
                            </dd>
                            <dd>Please try <a href="http://www.ec21.com/html/ec/help/help_01.html">EC21 Help</a> if you
                                need more assistance.
                            </dd>
                        </dl>
                    </div>
                    <div class="left300"><img src="http://image.ec21.com/optimg/404error.jpg"/></div>
                </div>
                <h3>Browse by Category</h3>
                <div class="view_contents_ls">
                    <ul class="bbc_err2">
                        <li><a href="http://manufacturer.ec21.com/Agriculture--01.html"><strong>Agriculture</strong></a>
                        </li>
                        <li><a href="http://manufacturer.ec21.com/Apparel--02.html"><strong>Apparel</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Automobiles_Motorcycles--03.html"><strong>Automobiles
                            &amp;amp; Motorcycles</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Business_Services--04.html"><strong>Business
                            Services</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Chemicals--05.html"><strong>Chemicals</strong></a>
                        </li>
                        <li><a href="http://manufacturer.ec21.com/Computer_Hardware_Software--06.html"><strong>Computer
                            Hardware &amp; Software</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Construction_Real_Estate--07.html"><strong>Construction
                            &amp; Real Estate</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Consumer_Electronics--08.html"><strong>Consumer
                            Electronics</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Electrical_Equipment_Supplies--09.html"><strong>Electrical
                            Equipment &amp; Supplies</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Electronic_Components_Supplies--10.html"><strong>Electronic
                            Components &amp; Supplies</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Energy--11.html"><strong>Energy</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Environment--12.html"><strong>Environment</strong></a>
                        </li>
                        <li><a href="http://manufacturer.ec21.com/Excess_Inventory--13.html"><strong>Excess
                            Inventory</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Fashion_Accessories--14.html"><strong>Fashion
                            Accessories</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Food_Beverage--15.html"><strong>Food &amp;
                            Beverage</strong></a></li>
                    </ul>
                    <ul class="bbc_err2">
                        <li><a href="http://manufacturer.ec21.com/Furniture_Furnishings--16.html"><strong>Furniture
                            &amp; Furnishings</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/General_Industrial_Equipment--17.html"><strong>General
                            Industrial Equipment</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/General_Mechanical_Components--18.html"><strong>General
                            Mechanical Components</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Gifts_Crafts--19.html"><strong>Gifts &amp;
                            Crafts</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Hardware--20.html"><strong>Hardware</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Health_Medical--21.html"><strong>Health &amp;
                            Medical</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Home_Garden--22.html"><strong>Home &amp;
                            Garden</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Home_Appliances--23.html"><strong>Home
                            Appliances</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Lights_Lighting--24.html"><strong>Lights &amp;
                            Lighting</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Luggage_Bags_Cases--25.html"><strong>Luggage, Bags
                            &amp; Cases</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Manufacturing_Processing_Machinery--26.html"><strong>Manufacturing
                            &amp; Processing Machinery</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Measurement_Analysis_Instruments--27.html"><strong>Measurement
                            &amp; Analysis Instruments</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Minerals_Metallurgy--28.html"><strong>Minerals &amp;
                            Metallurgy</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Office_School_Supplies--29.html"><strong>Office &amp;
                            School Supplies</strong></a></li>
                    </ul>
                    <ul class="bbc_err2">
                        <li><a href="http://manufacturer.ec21.com/Packaging_Paper--30.html"><strong>Packaging &amp;
                            Paper</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Personal_Care--31.html"><strong>Personal Care</strong></a>
                        </li>
                        <li><a href="http://manufacturer.ec21.com/Printing_Publishing--32.html"><strong>Printing &amp;
                            Publishing</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Rubber_Plastics--33.html"><strong>Rubber &amp;
                            Plastics</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Security_Protection--34.html"><strong>Security &amp;
                            Protection</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Service_Equipment--35.html"><strong>Service
                            Equipment</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Shoes_Accessories--36.html"><strong>Shoes &amp;
                            Accessories</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Sports_Entertainment--37.html"><strong>Sports &amp;
                            Entertainment</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Telecommunications--38.html"><strong>Telecommunications</strong></a>
                        </li>
                        <li><a href="http://manufacturer.ec21.com/Textiles_Leather_Products--39.html"><strong>Textiles
                            &amp; Leather Products</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Timepieces_Jewelry_Eyewear--40.html"><strong>Timepieces,
                            Jewelry, Eyewear</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Tools--41.html"><strong>Tools</strong></a></li>
                        <li><a href="http://manufacturer.ec21.com/Toys--42.html"><strong>Toys</strong></a></li>
                        <li>
                            <a href="http://manufacturer.ec21.com/Transportation--43.html"><strong>Transportation</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://image.ec21.com/inc/js/Common_Footer_in.js" type="text/javascript"></script>
<div class="container_foot_ar">
    <div class="container_footer">
        <div class="container_foot_con container_wd">
            <div class="dv_float_lt">Share :</div>
            <div class="dv_float"><a href="javascript:addto('7');" class="ico_facebook" rel="nofollow">Facebook</a>
            </div>
            <div class="dv_float"><a href="javascript:addto('8');" class="ico_twitter" rel="nofollow">Twitter</a></div>
            <div class="dv_float"><a href="javascript:addto('6');" class="ico_google" rel="nofollow">Google</a></div>
            <div class="dv_float"><a href="javascript:addto('1');" class="ico_delicious" rel="nofollow">Delicious</a>
            </div>
            <script type="text/javascript"> var nameOpt = navigator.appName;
            var ua = navigator.userAgent;
            if (nameOpt == "Microsoft Internet Explorer") document.write('<div class="dv_float"><a href="javascript:bookmarksite();" class="ico_favorite">Favorite</a></div>'); else if (nameOpt == "Netscape") {
                if (ua.indexOf("Firefox") > -1) document.write('<div class="dv_float"><a href="javascript:bookmarksite();" class="ico_favorite">Favorite</a></div>');
            } </script>
            <div class="dv_float"><a href="javascript:addto('5');" class="ico_ec21" rel="nofollow">My EC21</a></div>
            <div class="dv_float_lt"><a href="javascript:SendtoMail();" class="ico_mail" rel="nofollow">Email this
                page</a></div>
        </div>
    </div>
    <div class="foot_con"><p class="foot_con_01"> Browse: <span><a href="http://www.ec21.com">Manufacturer Directory</a></span>
        <span><a href="http://countrysearch.ec21.com/">Countries</a></span> <span><a
                href="http://cn.countrysearch.ec21.com/">China</a></span> <span><a
                href="http://in.countrysearch.ec21.com/">India</a></span> <span><a
                href="http://kr.countrysearch.ec21.com/">Korea</a></span> <span><a
                href="http://www.ec21.com/premium_suppliers/">Premium Suppliers</a></span> <span><a
                href="http://community.ec21.com/">Community</a></span> <span class="span_off"><a
                href="http://www.ec21.com/html/ec/sitemap.html">Site Map</a></span></p>
        <p><span><a href="http://www.ec21.com/html/ec/AU/AU_Company_Overview.html" rel="nofollow">About EC21</a></span>
            <span><a href="http://www.ec21.com/html/ec/AU/AU_Contactus.html" rel="nofollow">Contact Us</a></span> <span><a
                    href="http://www.ec21.com/html/ec/TC/TC_01.html" rel="nofollow">Terms &amp; Conditions</a></span>
            <span><a href="http://www.ec21.com/global/reportitem/reportitemM.jsp" rel="nofollow">Report Item</a></span>
            <span><a href="http://www.ec21.com/html/ec/WIF/WIF_01.html" rel="nofollow">Online Trading Risks</a></span>
            <span class="span_off"><a href="http://www.ec21.com/html/ec/TC/TC_04.html" rel="nofollow">Product Listing Policy</a></span>
        </p>
        <p><span><a href="http://chinese.ec21.com">中文</a></span> <span><a href="http://fanti.ec21.com">繁體</a></span>
            <span><a href="http://korean.ec21.com">한국어</a></span> <span><a
                    href="http://japanese.ec21.com">日本語</a></span> <span><a
                    href="http://spanish.ec21.com">Español</a></span> <span><a
                    href="http://russian.ec21.com">Русский</a></span> <span><a
                    href="http://french.ec21.com">Français</a></span> <span class="span_off"><a
                    href="http://german.ec21.com">Deutsch</a></span></p>
        <p class="foot_tx01">Copyright (c)1997-2013 EC21 Inc. All Rights Reserved. EC21 in <span><a
                href="http://kr.ec21.com" target="_new" class="foot_link">Korean</a></span><span class="span_off"><a
                href="http://china.ec21.com" target="_new" class="foot_link">Chinese</a></span></p>
        <p class="foot_tx02">Business Registry Number: 120-86-03931</p></div>
</div>
<div class="fix_bar"><a href="javascript:inquiryBasket();"><span>Inquiry Basket</span></a></div>
<div id="AKCDiv" style="DISPLAY: none; Z-INDEX: 999; POSITION: absolute; OVERFLOW: hidden; background-color: #FFFFFF;">
    <iframe id=AKCIfrm style="WIDTH: 100%; HEIGHT: 0" name="AKCIfrm" marginWidth="0" marginHeight="0"
            src="http://www.ec21.com/html/search/akc/akc.html" frameBorder=0 scrolling=no></iframe>
</div>
</body>
</html>