<extend file="../Common/base.html" />
<block name="body">
    <div class="container">
        <br>
        <div class="toolbar"><button type="button" id="add" class="btn btn-default">click</button></div>
        <br>
        <table id="dtable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</block>
<block name="script">
    <script>
        L.P.load('jq').load('bs').load('dt').load('mydt',function () {
            var dtable = L.P.datatables.create('#dtable',{
                columns: [
                    {
                        title:'username',
                        data:'value.username'
                    },
                    {
                        title:'password',
                        data:'value.passwd'
                    },
                    {
                        title:'email',
                        data:'value.email'
                    },
                    {
                        title:'sum',
                        data:'count'
                    },
                    {
                        title:'operation',
                        data:function () {
                            return '<a href="#" target="_blank">login</a>';
                        }
                    }
                ]
            }).load(L.O.toObj('{$data}'));

            L.P.load('layer',function () {
                $("#add").click(function () {
                    layer.alert('您是如何看待前端开发？');
                });
            });
        });
    </script>
</block>
