<extend file="../Common/base.html" />
<block name="body">
    <div class="container">
        <br>
        <div class="toolbar">
            <button type="button" id="publish" class="btn btn-default">publish</button>

        </div>
        <br>
        <table id="dtable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</block>
<block name="script">
    <script>
        L.P.load('jq').load('bs').load('dt',function () {
            var dtable = L.P.datatables.create('#dtable',{
                columns: [
                    {
                        title:'username',
                        data:'value.username'
                    },
                    {
                        title:'password',
                        data:'value.passwd'
                    },
                    {
                        title:'email',
                        data:'value.email'
                    },
                    {
                        title:'sum',
                        data:'count'
                    },
                    {
                        title:'operation',
                        data:function (row) {
                            var query = $.param({
                                username:row.value.username,
                                passwd:row.value.passwd
                            });
                            return '<a href="#" target="_blank">login</a> <a href="__CONTROLLER__/published?'+query+'" target="_blank">publish</a>';
                        }
                    }
                ]
            }).load(L.O.toObj('{$data}'));

            $("#publish").click(function () {

            });
        });
    </script>
</block>